body{

    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 100;

}

body #main{
    padding: 0;
    height: 100%;
    background-color: #eaedf1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}

#meat{
    background-color: #eaedf1;
    height: 46.79vw;
    overflow-y: auto;
}

#meat form{
    float: left;
    width: 100%;
}

#meat form button{
    width: 100%;
    height: 4vw;
}

#meat form #msg{
   
    text-align: center;

}

#meat form #one{
    margin-top: 13vw;
}

#meat form #two #body{
    height: 25vw;
}

#meat form #twohalf{
    height:5vw;
}

#meat form #three #note{
    height: 10vw;
}

#main nav{
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 100;
}

#main #navbarToggleExternalContent{
    border-bottom: .5px solid white;
}

#main nav #drop li{

    
}

#main .container-fluid{

    background-color: #eaedf1;
    height: 100%;

}

#main .container-fluid #bargerLogo{
    background-color: white;
    height: 8vw;
}

#main .container-fluid #bargerLogo .col-4{
    
    
    text-align: center;

}

#main .container-fluid #intro{
    background-color: #c44200;
}

#main .container-fluid #blogheader{
    background-color: #eaedf1;
    padding-top: 2vw;
    margin-left: 8.4vw;
}

#main .container-fluid #intro #gallery{
    width: 50%;
    padding: 0;

}

#main .container-fluid #intro #quote{

    background-color: #c44200;
    width: 50%;
    height:36.22vw;
    color: white;
    text-align: center;

}

#main .container-fluid #intro #quote #savings{
    font-size: 4.2vw;
	margin-top: 1.1vw;
	margin-bottom: -60px;
}

#main .container-fluid #intro #quote p{
    font-size: 2vw;
	margin-top: 8vw;
	text-align: center;
}

#main .container-fluid #intro #quote #call{
    font-size: 2vw;
	margin-top: 1.5vw;
	text-align: center;
}

#main .container-fluid #intro #quote a{
    font-size: 4vw;
    color: white;
    text-decoration: none;
}

#main .container-fluid #intro #quote a:hover{
    color: #5e3449;
	text-decoration: underline;
}

#main .container-fluid #intro #quote a:active{
    color: #0645AD;
	text-decoration: underline;
}

#main .container-fluid #intro #quote form{
    height: 8vw;
}

#main .container-fluid #intro #quote form #bestbutton{
	margin-top: 1vw;
    background-color: transparent;
    color: white;
    border: 1px solid white;
	border-radius: 6px;
	width: 55%;
	height: 60%;
	font-size: 1.5vw;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	text-align: center;

}

#main .container-fluid #intro #quote form #bestbutton:active{
	transform: translateY(3px);
}

#main .container-fluid #logos{

    background-color: #001e62;
    opacity: 0.9;
    height: 20vw;
}

#main .container-fluid #logos #keystoneLogo{
    color: white;
    text-align: center;
    

}

#main .container-fluid #logos #keystoneLogo p{
    font-size: 1.1vw;

}

#main .container-fluid #address{
    background-color: #0082c4;
    color: white;
    text-align: center;
}

#main .container-fluid #address #adair{
    font-size: 1.1vw;
    margin-top: .5vw;
}

#main .container-fluid #address #green{
    font-size: 1.1vw;
    margin-top: .5vw;
}

#main .container-fluid #blogmeat{
    background-color: #eaedf1;
    color: black;
    text-align: left;
}

#main .container-fluid #blogmeat #feed{
    font-size: 1.1vw;
    margin-top: .5vw;
}

#main .container-fluid #address #sidebar{
    font-size: 1.1vw;
    margin-top: .5vw;
}

#main .container-fluid #address #adair a{
    text-decoration: none;
    color: white;
}

#main .container-fluid #address #adair a:hover{
    color: #5e3449;
	text-decoration: underline;
}

#main .container-fluid #address #adair a:active{
    color: #0645AD;
}

#main .container-fluid #address #green a{
    text-decoration: none;
    color: white;
}

#main .container-fluid #address #green a:hover{
    color: #5e3449;
	text-decoration: underline;
}

#main .container-fluid #address #green a:active{
    color: #0645AD;
}

#main .container-fluid #meet{
    background-color: white;
    color: white;
    text-align: center;
}

#main .container-fluid #meet #profile{
    background-color: white;
    height: 14vw;

}

#main .container-fluid #meet #piece{
    background-color: #eaedf1;
    height: 14vw;
}

#main .container-fluid #copyright{
    background-color: white;
    height: 3.5vw;
}

#main .container-fluid #copyright .col-6{
    text-align: center;
    font-size: 1.1vw;
    color: black;
}

#main .container-fluid #copyright .col-6 p{
    margin-top: 1vw;
}

#main .container-fluid #copyright .col-6 p a{
    color: black;
    text-decoration: none;
	cursor: pointer;
}

#main .container-fluid #copyright .col-6 p a:hover{
    text-decoration: underline;
	color: #0645AD;
}

#carouselExampleIndicators{
    width: 100%;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
    opacity: 0.9;
}

#flash-message {
    bottom: 42vw;
    right: 80vw;
    position: absolute;
    z-index: 10;
    animation: flash-message 4s forwards;
}

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0; display:none;}
}




